[submodule "service_brokers/go_service_broker"]
	path = service_brokers/go_service_broker
	url = https://github.com/simonleung8/go_service_broker
[submodule "apps/pong_matcher_go"]
	path = apps/pong_matcher_go
	url = https://github.com/simonleung8/pong_matcher_go
